# App Settings
APP_NAME="Express Starter"
APP_PORT=8000
APP_ENV="development"

# Database Settings
DATABASE_URL="mysql://root:root@127.0.0.1/express_starter"

# JWT
JWT_SECRET=""
JWT_EXPIRES="1h"
JWT_REFRESH_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_EXPIRES="30d"

# Mail Settings.
MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASS=""

# Mail Sender
MAIL_FROM=""
MAIL_FALLBACK=""
MAIL_SUPPORT=""

# Reset Password
RESET_PASSWORD_URL="http://localhost:3000/reset-password"
RESET_PASSWORD_EXPIRES="1h"
