APP_NAME="Express Starter"

# Database Settings
DATABASE_URL="mysql://root:root@127.0.0.1/express_starter"

# Node Settings
NODE_ENV="development"
NODE_PORT="3000"

# JWT
JWT_SECRET=""
JWT_EXPIRES="1h"
JWT_REFRESH_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_EXPIRES="30d"

# Mail Settings.
MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASS=""

# Mail Sender
MAIL_FROM=""
MAIL_FALLBACK=""
MAIL_SUPPORT=""
